<div class="nk-sidebar">
	<div class="nk-nav-scroll">
		<ul class="metismenu" id="menu">
			<li>
				<a href="/Default/Index/" aria-expanded="false">
					<i class="icon-plane menu-icon"></i><span class="nav-text">Sayta Get</span>
				</a>
			</li>
			<li>
				<a href="/Dashboard/Index/" aria-expanded="false">
					<i class="icon-magic-wand menu-icon"></i><span class="nav-text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/Appointments/Index/" aria-expanded="false">
					<i class="icon-calender menu-icon"></i><span class="nav-text">Rezervlər</span>
				</a>
			</li>
			<li>
				<a href="/Staff/Index/" aria-expanded="false">
					<i class="icon-notebook menu-icon"></i><span class="nav-text">İşçilər</span>
				</a>
			</li>
			<li>
				<a href="/Testimonial/Index/" aria-expanded="false">
					<i class="icon-lock menu-icon"></i><span class="nav-text">Referanslar</span>
				</a>
			</li>
			<li>
				<a href="/Service/Index/" aria-expanded="false">
					<i class="icon-clock menu-icon"></i><span class="nav-text">Xidmətlər</span>
				</a>
			</li>
			<li>
				<a href="/AdminAbout/Index/" aria-expanded="false">
					<i class="icon-info menu-icon"></i><span class="nav-text">Haqqımızda</span>
				</a>
			</li>
			<li>
				<a href="/AdminRoom/Index/" aria-expanded="false">
					<i class="icon-home menu-icon"></i><span class="nav-text">Otaqlar</span>
				</a>
			</li>
			<li>
				<a href="/Guest/Index/" aria-expanded="false">
					<i class="icon-people menu-icon"></i><span class="nav-text">Qonaqlar</span>
				</a>
			</li>
			<li>
				<a href="/AdminContact/Inbox/" aria-expanded="false">
					<i class="icon-envelope menu-icon"></i><span class="nav-text">Mesajlar</span>
				</a>
			</li>
			<li>
				<a href="/AdminMail/Index/" aria-expanded="false">
					<i class="icon-energy menu-icon"></i><span class="nav-text">Mail Əməliyyatları</span>
				</a>
			</li>
			<li>
				<a href="/AdminImageFile/Index/" aria-expanded="false">
					<i class="icon-paper-clip menu-icon"></i><span class="nav-text">Şəkil Əməliyyatları</span>
				</a>
			</li>
			<li>
				<a href="/AdminFile/Index/" aria-expanded="false">
					<i class="icon-film menu-icon"></i><span class="nav-text">Fayl Əməliyyatları</span>
				</a>
			</li>
			<li>
				<a href="/Users/Index/" aria-expanded="false">
					<i class="icon-user-follow menu-icon"></i><span class="nav-text">İstifadəçilər</span>
				</a>
			</li>
			<li>
				<a href="/WorkLocation/Index/" aria-expanded="false">
					<i class="icon-puzzle menu-icon"></i><span class="nav-text">Otel Lokasiyaları</span>
				</a>
			</li>
			<li>
				<a href="/Role/Index/" aria-expanded="false">
					<i class="icon-game-controller menu-icon"></i><span class="nav-text">Rollar</span>
				</a>
			</li>
			<li>
				<a href="/RoleAssign/Index/" aria-expanded="false">
					<i class="icon-speedometer menu-icon"></i><span class="nav-text">Rol Təyinatları</span>
				</a>
			</li>
			<li>
				<a href="/Settings/Profile/" aria-expanded="false">
					<i class="icon-settings menu-icon"></i><span class="nav-text">Parametrlər</span>
				</a>
			</li>
			<li>
				<a href="/WorkLocation/Index/" aria-expanded="false">
					<i class="icon-close menu-icon"></i><span class="nav-text">Hesabdan Çıxış</span>
				</a>
			</li>
		</ul>
	</div>
</div>