@model List<MovieViewModel> 
@{
	Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
	<br />

<table class="table table-bordered">
	<tr>
		<th>#</th>
		<th>Film adı</th>
		<th>Reytinq</th>
		<th>Fraqment</th>
	</tr>

	@foreach(var movie in Model)
		{
			<tr>
			<td>@movie.rank</td>
			<td>@movie.title</td>
			<td>@movie.rating</td>
			<td>
				<a href="#" class="btn btn-dark">Fraqmenti oynat</a>
			</td>
			</tr>
		}
</table>

</div>